@import '../../../styles/variables.module.scss';

$text-color: #fff;
// .navbar-box {
//     // background-color: $dark-blue;
//     background-color: black;
// }

// .navbar {
//     background-color: transparent;
//     color: $text-color !important;

//     .navlink {
//         color: $text-color !important;
//     }
// }

.navbarCustom {
    background-color: $background;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.nav {
    color: $text-color !important;
    width: 100%;

    .navLink {
        color: $text-color !important;
        /* Set the color to a light shade */
    }


}

.navLinkRight {
    color: $text-color !important;
    font-size: 18px !important;
}

.navLink:hover,
.navLink:focus,
.navLinkRight:hover,
.navLinkRight:focus {
    color: $light-purple !important;
    /* Set the hover/focus color to the primary color */
}

.navbarBrand {
    color: $light-pink !important;
    font-weight: 500;
    font-size: 25px !important;
    /* Set the brand color to a light shade */
    --c: linear-gradient(#DD7596 0 0);
    padding-bottom: .15em;
    background: var(--c), var(--c);
    background-size: .3em .1em;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
}

.navbarBrand:hover,
.navbarBrand:focus {
    background-size: 40% .1em;
    background-position: 10% 100%, 90% 100%;
}