@import "../../../styles/variables.module.scss";

.profileMain {
  //background: $background;
  //color: #fff;
  padding: 20px;
}
.user {
  width: auto;
  height: 100px;
}

.details {
  //font-size: 40px;
}

.name {
  font-size: 30px;
}
