@import "../../../styles/variables.module.scss";

.body {
  color: #2e323c;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .mainCard {
    height: auto;
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;

    .cardBody {
      background-color: #1e1a3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      color: #fff;
      padding: 14px 15px;
    }
  }
}

.userProfile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;

  .userAvatar {
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .avtar {
      background-color: $light-pink;
      color: white;
      font-size: 60px;
      width: 90px;
      height: 90px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
    }
  }

  .userName {
    margin: 0 0 0.5rem 0;
  }

  .userEmail {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
  }
}

.heading {
  font-size: 18px;
  color: white;
  margin-bottom: 14px;
}

.formBox {
  margin-bottom: 14px;
}

.formControl {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 0.999rem;
  background: #ffffff;
  color: #2e323c;
  margin-top: 4px;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.updateBtn {
  background: $light-purple;
  color: white;
  margin-bottom: 10px;
}

.updateBtn:hover,
.updateBtn:focus {
  background-color: $hover-purple;
}
