* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #223243;
}

.login-container {
  padding: 40px;
  border-radius: 20px;
  border: 8px solid #223243;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.login-container .signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.login-container .signin h2 {
  color: white;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.login-container .signin .inputBox {
  position: relative;
  width: 300px;
}

.login-container .signin .inputBox input,
button {
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #223243;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;
}

.login-container .signin .inputBox span {
  position: absolute;
  left: 0;
  padding: 12px 10px 12px 48px;
  pointer-events: none;
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

.login-container .signin .inputBox input:valid ~ span,
.login-container .signin .inputBox input:focus ~ span {
  color: #00dfc4;
  border: 1px solid #00dfc4;
  background: #223243;
  transform: translateX(25px) translateY(-7px);
  font-size: 0.6em;
  padding: 0 8px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

.login-container .signin .inputBox i {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 25px;
  padding: 2px 0;
  color: #00dfc4;
  padding-right: 8px;
  border-right: 1px solid #00dfc4;
}

.login-container .signin .inputBox button {
  background: #00dfc4;
  color: #223243;
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.link-A {
  color: #00dfc4;
  text-decoration: none;
}

.signin p {
  color: white;
}

.root-chat {
  float: left;
  width: 30%;
  height: 100vh;
  padding: 20px;
  background-color: rgb(168, 157, 238);
}

.join-meet {
  width: 30%;
  margin-top: -7px;
  font-weight: 600;
}

.show-parti {
  width: 35%;
  margin-right: 10px;
  margin-top: -7px;
  font-weight: 600;
}

.copy-id {
  background: none;
  border: none;
  padding: 0;
  color: white;
  padding-left: 20px;
  font-size: 30px;
  margin-top: -10px;
}

.copy-id:hover {
  background: none;
  border: 0;
  cursor: pointer;
  color: black;
}

.hide-this {
  display: none;
}

.chat-sidebar {
  display: flex;
}

.chat-sidebar div button {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

.team-head {
  padding: 20px;
  font-size: 30px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 10px rgb(71, 71, 71);
}

.team-list {
  background-color: rgb(240, 240, 240);
  height: 75vh;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgb(71, 71, 71);
}

.team-list div {
  background-color: rgb(240, 240, 240);
  padding: 15px;
  font-size: 17px;
  text-decoration: none;
}

Link {
  text-decoration: none;
}

Link:hover {
  text-decoration: none;
}

.team-list div:hover {
  background-color: rgb(170, 169, 169);
}

.room-name {
  font-size: 25px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.date {
  color: saddlebrown;
  font-size: 12px;
}

.roomName-logo {
  background-color: rgb(255, 0, 119);
  padding: 10px;
  letter-spacing: 4px;
  margin: 10px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0 0 10px black;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@100;300&display=swap");
:root {
  --button: #b3b3b3;
  --button-color: #0a0a0a;
  --shadow: #000;
  --bg: #191635;
  --header: #7776bc;
  --color: #fafafa;
  --lit-header: #e6e6e6;
  --speed: 2s;
}
* {
  transform-style: preserve-3d;
}
@property --swing-x {
  initial-value: 0;
  inherits: false;
  syntax: "<integer>";
}
@property --swing-y {
  initial-value: 0;
  inherits: false;
  syntax: "<integer>";
}
.notfound {
  min-height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  color: var(--color);
  perspective: 1200px;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  background: var(--button);
  color: var(--button-color);
  padding: 1rem 4rem;
  border-radius: 4rem;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
}
.p {
  font-weight: 100;
}
.h1 {
  -webkit-animation: swing var(--speed) infinite alternate ease-in-out;
  animation: swing var(--speed) infinite alternate ease-in-out;
  font-size: clamp(5rem, 40vmin, 20rem);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  transform: translate3d(0, 0, 0vmin);
  --x: calc(50% + (var(--swing-x) * 0.5) * 1%);
  background: radial-gradient(var(--lit-header), var(--header) 45%) var(--x)
    100%/200% 200%;
  -webkit-background-clip: text;
  color: transparent;
}
.h1:after {
  -webkit-animation: swing var(--speed) infinite alternate ease-in-out;
  animation: swing var(--speed) infinite alternate ease-in-out;
  content: "404";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--shadow);
  filter: blur(1.5vmin);
  transform: scale(1.05) translate3d(0, 12%, -10vmin)
    translate(
      calc((var(--swing-x, 0) * 0.05) * 1%),
      calc((var(--swing-y) * 0.05) * 1%)
    );
}
.cloak {
  animation: swing var(--speed) infinite alternate-reverse ease-in-out;
  height: 100%;
  width: 100%;
  transform-origin: 50% 30%;
  transform: rotate(calc(var(--swing-x) * -0.25deg));
  background: radial-gradient(40% 40% at 50% 42%, transparent, #000 35%);
}
.cloak__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.cloak__container {
  height: 250vmax;
  width: 250vmax;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info {
  text-align: center;
  line-height: 1.5;
  max-width: clamp(16rem, 90vmin, 25rem);
}
.info > p {
  margin-bottom: 3rem;
}
@-webkit-keyframes swing {
  0% {
    --swing-x: -100;
    --swing-y: -100;
  }
  50% {
    --swing-y: 0;
  }
  100% {
    --swing-y: -100;
    --swing-x: 100;
  }
}
@keyframes swing {
  0% {
    --swing-x: -100;
    --swing-y: -100;
  }
  50% {
    --swing-y: 0;
  }
  100% {
    --swing-y: -100;
    --swing-x: 100;
  }
}

.addBtn {
  color: #dd7596;
  border-color: #dd7596;
  background: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.addBtn:hover,
.addBtn:focus,
.addBtn:active,
.addBtn.active,
.open .dropdown-toggle.addBtn {
  background-color: #dd7596;
  color: #fff;
  border-color: #dd7596;
}
